{% include 'header.html' %}

    <!-- Jumps -->
    <main role="main" class="container">
    {% for jump in jumps %}
      <div class="card mb-4 box-shadow" id="jump{{ jump.number }}">
        <div class="card-header">
          <a href="#jump{{ jump.number }}"><h3>Jump n°{{ jump.number }}</h3></a>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><h6>Date</h6> <p>{{ jump.date }}</p></li>
            <li><h6>Location</h6> <p>{{ jump.location }}</p></li>
            <li><h6>Plane</h6> <p>{{ jump.plane }}</p></li>
            <li><h6>Alt.</h6> <p>{{ jump.altitude }}</p></li>
            <li><h6>Type</h6> <p>{{ jump.jump_type }}</p></li>
            <li><h6>Canopy</h6> <p>{{ jump.canopy }}</p></li>
            <li class="text-center"> <p>{{ jump.notes | urlize(50) | replace('\n', '<br>') }}</p></li>
          </ul>
        </div>
      </div>
    {% endfor %}

    </main>

{% include 'footer.html' %}
