{% include 'header.html' %}

    <!-- Jumps -->
    <main role="main" class="container">
    <div class="row">
    {% for field, numbers in stats.items() | sort %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h3>{{ field | replace('_', ' ') | title }}</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
            {% for type, num in numbers | sort(attribute=1) | reverse %}
            {% if num > 1 %}
              <li><h6>{{ type }}</h6> <p>{{ num }} jumps</p></li>
            {% else %}
              <li><h6>{{ type }}</h6> <p>{{ num }} jump</p></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    </main>
    
{% include 'footer.html' %}
